#develop h2{
    font-size: 31px;
}
#develop>div{
    height: 975px;
}
.col-form-label{
    line-height: 2.5;
}
section{
    overflow: hidden;
}
#slider{
    margin-left: -15px;
    margin-right: -15px;
}